body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table tr td img {
  max-height: 20px;
}

.navbar {
    border-radius: 0;
}

.lang-form {
    display: inline-block;
    margin-top: 8px;
}

.text-white {
    display: inline-block;
    margin-right: 5px;
    color: #fff;
}